<div class="btn-group btn-group-justified header" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)= "getQuestion()">List Questions</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary"  (click)="addQuestion()" >Add Question</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success"  (click)="getMyQuestion(userInfo.FirstName)" >My Questions</button>
  </div>
  <div class="btn-group" role="group">
      <button type="button" class="btn btn-warning"  (click)="getAnswers()" >Display Answers</button>
    </div>
</div>
<!-- Table to show list of questions-->
<div class="container" *ngIf="list_of_questions"> 
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Question</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let list of list_of_questions">
          <tr>
            <td>{{list.ID}}</td>
            <td>{{list.FirstName}}</td>
            <td>{{list.LastName}}</td>
            <td>{{list.Email}}</td>
            <td>{{list.Question}}</td>
            <td><button class="btn btn-success" (click)= "answerQuestion(list)">Add Answer</button></td>  
            <td><button class="btn btn-danger" (click)= "deleteQuestion(list)" *ngIf= "userInfo.FirstName === list.FirstName">Delete question</button>
            </td> 
           </tr>
        </tbody>
      </table>
</div>

<!-- Table to show list of answers-->
<div class="container" *ngIf="list_of_answers"> 
  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Question ID</th>
          <th scope="col">FirstName</th>
          <th scope="col">Question</th>
          <th scope="col">Answer</th>
        </tr>
      </thead>
      <tbody *ngFor="let list of list_of_answers">
        <tr>
          <td>{{list.ID}}</td>
          <td>{{list.FirstName}}</td>
          <td>{{list.Question}}</td>
          <td>{{list.Answer}}</td>
       </tr>
      </tbody>
    </table>
</div>

<div class="container">
  <div class="card"  *ngIf="toAddQuestion">
      <label for="exampleFormControlTextarea2">Username: {{userInfo.FirstName}}</label> 
      <div class="card-body">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="question_text"></textarea>
          <button class="btn btn-primary" (click)= "postQuestion()"style="float:right">Submit</button>
          <button class="btn btn-secondary" (click)= "close()"style="float:left">Cancel</button>

      </div>
    </div>
</div>
<div class="container">
    <div class="card"  *ngIf="toAddAnswer">
        <label for="exampleFormControlTextarea2">Question Id: {{question_details.ID}} , Question is :{{question_details.Question}}</label>
        <div class="card-body">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="answer_text"></textarea>
            <button class="btn btn-primary" (click)= "postAnswer()"style="float:right">Submit</button>
            <button class="btn btn-secondary" (click)= "close()"style="float:left">Cancel</button>
        </div>
      </div>
  </div>