<div class="btn-group btn-group-justified header" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" (click)= "getQuestion()">List Questions</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"  (click)="addQuestion()" >Add Question</button>
    </div>
  </div>
  <div class="container" *ngIf="list_of_questions"> 
      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">Email</th>
              <th scope="col">Question</th>
              <th scope="col">Answer</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngFor="let list of list_of_questions">
            <tr>
              <td>{{list.ID}}</td>
              <td>{{list.FirstName}}</td>
              <td>{{list.LastName}}</td>
              <td>{{list.Email}}</td>
              <td>{{list.Question}}</td>
              <td>{{list.Answer}}</td>
              <button class="btn btn-success" (click)= "answerQuestion(list)">Modify Answer</button>
            </tr>
          </tbody>
        </table>
  </div>

  <div class="container">
    <div class="card"  *ngIf="toAddQuestion">
        <label for="exampleFormControlTextarea2">{{userInfo.FirstName}}</label> 
        <div class="card-body">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="question_text"></textarea>
            <button class="btn btn-default" (click)= "close()"style="float:left">Cancel</button>
            <button class="btn btn-default" (click)= "postQuestion()"style="float:right">Submit</button>
        </div>
      </div>
  </div>
  <div class="container">
      <div class="card"  *ngIf="toAddAnswer">
          <label for="exampleFormControlTextarea2">{{question_details.ID}}.{{question_details.Question}}</label>
          <div class="card-body">
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" [(ngModel)]="answer_text"></textarea>
              <button class="btn btn-default" (click)= "close()"style="float:left">Cancel</button>
              <button class="btn btn-default" (click)= "postAnswer()"style="float:right">Submit</button>
          </div>
        </div>
    </div>